@media screen and (max-width: 576px) {
    .menu-nav ul {
        li:nth-child(01){
            display: none;
        }

        li input {
            width: 25vw;
        }
    }
}

.menu {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid gray
}

.menu-logo {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
}

.menu-nav {
    width: 100%;
    display: inline-block;
    text-align: right;
}



.menu-nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
}

.input-menu {
    border-radius: 30px;
}

.menu-nav {
    ul {
        display: inline-flex;
        list-style: none;
        li {
            padding: 0 .5rem;
        }
    }
}