.newsletter {
    width: 100%;
    clear: both;
}

.newsletter {
    background-color: $nickel;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.newsletter h2 {
    font-size: $large;
}
