@media screen and (min-width: 576px) {
    // Reglas CSS
    .newsletter {
        width: 576px;
    }
}

@media screen and (min-width: 768px) {
    // Reglas CSS
    .newsletter {
        width: 768px;
    }
}

@media screen and (min-width: 960px) {
    // Reglas CSS
    .newsletter {
        width: 960px;
    }
}

@media screen and (min-width: 1200px) {
    // Reglas CSS
    .newsletter {
        width: 960px;
    }
}


.newsletter {
    clear: both;
}

.newsletter {
    background-color: #f2f4f5;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.newsletter h2 {
    font-size: 24px
}
